dist/
node_modules/
scripts/
.idea/
package-lock.json
.env
Procfile

# commands on dev
src/slashCmds/action/
plans.txt
src/modules/giveaway/
src/modules/music/
src/modules/moderation/slowmode.ts
src/modules/moderation/unmute.ts
src/modules/moderation/timeout.ts
src/modules/moderation/untimeout.ts